

.game-title {
    font-size: 3em;
    padding: 5px;
    border: dashed 1px lightgray;
  }
  /* column-top is table row of clickable areas for each column */
  .column-top td {
    border: dashed 1px lightgray;
  }
  
  .column-top td:hover {
    background-color: rgb(202, 202, 202);
  }

#title{
  text-align: center;
  font-size: 6em;
  font-family: 'times new roman'
}
#panel{
  text-align: center;
  font-size: 2em;
  font-weight: 200;
  padding: 10px;
}
#panel div{
  margin: 10px;
}
#game {
  text-align: center;
  
}
#game_start{
  padding: 10px;
  font-size: 1em;
  font-family: 'times neroman'
  border-radius: 10px;
}
/* game table */
#game table {
  margin: 0 auto;
}
#game table td {
  border: solid 1px rgb(224, 202, 3);
  width: 90px;
  height: 90px;
  position: relative;
}

.game-container{
  margin: auto;
}

/* pieces are div within game table cells: draw as colored circles */

.piece {
  margin: 5px;
  width: 90%;
  height: 90%;
  border-radius: 50%;
  position: absolute;
  top : -50px;
}

button {
    background-color: aqua;
}

